services:
  postgres:
    image: postgres:15-alpine
    container_name: finanbot-db
    environment:
      POSTGRES_DB: finanbot
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

    rabbitmq:
      image: rabbitmq:3-management
      container_name: finanbot-mq
      ports:
        - "5672:5672"
        - "15672:15672"
      environment:
        RABBITMQ_DEFAULT_USER: user
        RABBITMQ_DEFAULT_PASS: password

volumes:
  postgres_data:
